@import url("fonts.css");
@font-face {
  font-family: "Denton";
  font-style: normal;
  font-weight: 300; /* Light */
  src: url("imgs/DENTON-LIGHT.woff2") format("woff2");
}

@font-face {
  font-family: "Denton";
  font-style: italic;
  font-weight: 300; /* Light Italic */
  src: url("imgs/DENTON-LIGHTITALIC.woff2") format("woff2");
}

@font-face {
  font-family: "Denton";
  font-style: normal;
  font-weight: 400; /* Regular */
  src: url("imgs/DENTON-REGULAR.woff2") format("woff2");
}

@font-face {
  font-family: "Denton";
  font-style: italic;
  font-weight: 400; /* Regular Italic */
  src: url("imgs/DENTON-REGULARITALIC.woff2") format("woff2");
}

body {
  display: flex;
  background-color: #20201d;
  margin: 0;
  padding: 0;
  font-family: "Albert Sans";
  height: 400em; /* Asegura que el body ocupe toda la altura */
  overflow: auto; /* Para evitar desplazamiento innecesario */
  flex-direction: column; /* Alinea los elementos de forma horizontal */
}

.filtro-tex-1 {
  z-index: 45;
  position: absolute;
  display: block;
  overflow: clip;
  mix-blend-mode: hard-light;
  opacity: 0.4;
  pointer-events: none;
  height: 150%;
  width: auto;
}
.filtro-tex-2 {
  z-index: 45;
  position: absolute;
  display: block;
  overflow: clip;
  mix-blend-mode: soft-light;
  opacity: 0.5;
  pointer-events: none;
}

/* Estilo del contenedor */
.placeholder {
  height: fit-content;
  width: fit-content;
  position: fixed;
  position: fixed; /* Asegura que la posición sea relativa a la ventana */
  top: 50%; /* Centra verticalmente */
  right: 0; /* Posición fuera de la pantalla a la derecha */
  transform: translate(120%, -50%); /* Posición inicial fuera de la pantalla */
  transition: transform 0.5s ease-in-out; /* Transición suave */
  z-index: 30;
}

.placeholder img {
  width: 45%;
  height: auto;
  z-index: inherit;
}

.logo {
  font-family: "Denton", sans-serif !important; /* Fuente */
  font-size: clamp(
    4.5rem,
    2.143rem + 7.619vw,
    8rem
  ) !important; /* Tamaño del texto */
  font-style: normal !important; /* Texto en negrita */
  font-weight: 300;
  color: #062324; /* Color del texto */
  margin: 150px; /* Espaciado interno */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Opcional: oculta cualquier contenido que se salga del contenedor */
  text-overflow: ellipsis; /* Opcional: muestra "..." si el texto es demasiado largo */
}

.logo-fondo {
  font-family: "Denton", sans-serif !important; /* Fuente */
  font-style: normal !important; /* Texto en negrita */
  font-weight: 300;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  font-style: normal !important;
  font-size: clamp(5.5em, 8.5vw, 14em);
  color: #384041;
  user-select: none; /* Impide la selección de texto */
  position: absolute;
  text-align: center;
  justify-self: center;
  justify-content: center;
  margin: 0;
  line-height: 100%;
  isolation: isolate;
  mix-blend-mode: hard-light !important;

}

.main-container {
  display: flex;
  flex-direction: row; /* Los elementos estarán en fila por defecto */
  width: 100%;
  flex-wrap: wrap; /* Permite que los elementos se envuelvan */
}

/* Caja principal Left */
.container {
  position: relative;
  width: 50%; /* Ocupa el 100% del ancho de la pantalla */
  height: 90vh; /* Ajusta la altura según lo necesario */
  background-color: #b0bcf5; /* Fondo azul claro */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Caja principal Right */
.container-l {
  position: relative;
  width: 50%; /* Ocupa el 100% del ancho de la pantalla */
  height: 90vh; /* Ajusta la altura según lo necesario */
  background-color: #e2bd79; /* Fondo azul claro */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  right: 0;
  top: 0;
}

/* Caja principal Left */
.container-wide {
  position: relative;
  width: 100%; /* Ocupa el 100% del ancho de la pantalla */
  height: auto; /* Ajusta la altura según lo necesario */
  background-color: #b0bcf5; /* Fondo azul claro */
  display: flex;
  justify-items: center;
  align-items: center;
  overflow: clip;
  flex-direction: column;
  right: 0;
  top: 0;
}

/* Caja principal Right */
.container-l-wide {
  position: relative;
  width: 100%; /* Ocupa el 100% del ancho de la pantalla */
  height: 50vh; /* Ajusta la altura según lo necesario */
  background-color: rgb(190, 184, 231); /* Fondo azul claro */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: clip;
  right: 0;
  top: 0;
}

/* Borde cuadrado en el centro */
.border-box {
  width: 90%;
  height: 90%;
  border: 2px solid #577e80;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  padding: 20px;
}

/* Borde interno */
.border-box::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 2px solid #577e80;
  z-index: inherit;
  padding: 20px;
}

/* Borde cuadrado en el centro */
.border-box-2 {
  width: 95%;
  height: calc(100% - 100px);
  border: 2px solid #99b0b1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  padding: 20px;
  mix-blend-mode: multiply;
}

/* Borde interno */
.border-box-2::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border: 2px solid #99b0b1;
  z-index: inherit;
  padding: 20px;
}

/* Contenedor principal */
.content {
  display: flex; /* Flexbox para alinear los spans en hilera por defecto */
  align-items: start; /* Alinea los spans verticalmente en el centro */
  color: #333333;
  flex-wrap: nowrap; /* Evita que los spans se rompan en varias líneas */
  margin: 60px;
}

.interactive-div {
  display: flex; /* Activar flexbox */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  position: relative;
  margin-top: 35px;
  margin-bottom: 35px;
  margin-right: 125px;
  margin-left: 125px;
  width: 150px;
  height: 300px;
  z-index: 25;
}

.interactive-div::before {
  padding: 200px;
  content: "";
  position: absolute;
  top: -35px; /* Amplía hacia arriba */
  left: -200px; /* Amplía hacia la izquierda */
  right: -150px; /* Amplía hacia la derecha */
  bottom: -200px; /* Amplía hacia abajo */
  z-index: 24; /* Coloca detrás del contenido si es necesario */
  background: transparent; /* No visible */
  pointer-events: all; /* Hace interactivo el pseudo-elemento */
}

/* Estilo del texto */
.h2-animado-1 {
  font-family: "Denton" !important;
  line-height: 200%;
  font-weight: 300;
  font-style: normal !important;
  font-size: clamp(2em, 5.5vw, 3.2em);
  color: #32343b;
  user-select: none; /* Impide la selección de texto */
  position: relative;
  transform-origin: center center; /* Punto de rotación */
  text-align: center;
  align-self: center;
}
.texto-grande-r {
  font-family: "Denton" !important;
  line-height: 120%;
  font-weight: 300;
  font-style: normal !important;
  font-size: clamp(1.5em, 3.2vw, 1.3em);
  color: #52523c;
  user-select: none; /* Impide la selección de texto */
  position: absolute;
  text-align: center;
  align-self: center;
  justify-self: center;
  width: 30vw;
  margin: 0;
  margin-top: 350px;
  opacity: 0;
}

/* Estilo del texto */
.h1-standard {
  font-family: "Denton" !important;
  font-weight: 300;
  font-style: normal !important;
  font-size: clamp(5.2em, 5.5vw, 16em);
  color: #6b6b60;
  user-select: none; /* Impide la selección de texto */
  position: absolute;
  text-align: center;
  align-self: center;
  justify-self: center;
  top: 0;
  left: 0;
  margin: 42px;
  line-height: 115%;
  mix-blend-mode: multiply;
  z-index: 50;

}

.descripcion-1 {
  margin-top: 50px;
  font-family: "Albert Sans";
  line-height: 135%;
  font-size: clamp(0.55em, 4.7vw, 1.3em);
  color: #242325;
  opacity: 0; /* Oculto inicialmente */
  pointer-events: none; /* Evita interacción mientras esté oculto */
  transition: opacity 0.3s ease;
  position: absolute;
  margin: 0; /* Elimina márgenes por defecto */
  display: block;
  width: 300px;
  justify-content: center; /* Centers text horizontally */
  text-align: center;
  user-select: none; /* Impide la selección de texto */
  margin-top: 250px;
}
/* Estilo del botón de hamburguesa */
.menu-icon {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 210;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  padding: 18px;
}

.menu-icon div {
  width: 30px;
  height: 3px;
  background-color: #062324;
  transform-origin: center center; /* El origen de la transformación es el borde izquierdo */
  transition: width 0.5s ease-in-out;
}

/* Contenedor del menú */
.menu {
  position: fixed;
  top: 0;
  right: -50%;
  width: 40%;
  height: 100%;
  background-color: #f5df7c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: right 0.3s ease;
  box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 200;
  opacity: 0.95;
}

.menu a {
  font-family: "Denton";
  font-weight: 300 !important;
  text-decoration: none;
  color: black;
  font-size: clamp(
    2rem,
    1vw + 1rem,
    5em
  ); /* Ajuste de tamaño de fuente adaptable */
  margin: 15px 0;
  margin-top: 50px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #333;
}

.menu.open {
  right: 0;
}

.color-filtro-1 {
  z-index: 0;
  width: 50%; /* Mitad derecha de la pantalla */
  height: 100vh; /* Toda la altura del viewport */
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  background-color: rgb(153, 153, 153);
  mix-blend-mode: color;
}

.cortinilla {
  z-index: -5;
  width: 50%; /* Mitad derecha de la pantalla */
  height: 90vh; /* Toda la altura del viewport */
  overflow: hidden;
  position: relative;
  right: 0;
  top: 0;
  transition: all 0.3s ease; /* Suaviza la transición al cambiar de posición */
}

.imagenes {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 1.6s ease-in-out;
}

.imagen {
  flex: 0 0 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

/* Grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Dos columnas de igual tamaño */
  grid-template-rows: repeat(3, auto); /* Cinco filas con altura automática */
  width: 100%; /* Ancho del contenedor */
  height: auto; /* Altura dinámica según el contenido */
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  z-index: 40;
  box-sizing: border-box; /* Asegura que el padding no afecte al tamaño total */
  padding: 50px;
  margin-top: 150px;
}

/* Grid items */
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: transform 0.3s ease;
  text-decoration: none;
  width: auto; /* Se ajusta a la celda del grid */
  height: 60vh; /* Se ajusta dinámicamente */
  opacity: 1; /* Asegura que sea visible */
  margin: 20px;
  z-index: 50;
}

/* Imágenes */
.grid-item img {
  width: auto; /* Ancho fijo */
  height: 60vh; /* Mantiene la proporción */
  transition: transform 0.3s ease; /* Animación de escala */
  object-fit: cover; /* Las imágenes ocuparán todo el espacio */
  overflow: clip;
  z-index: 30;
  mix-blend-mode: lighten;
}


.grid-item h2 {
  font-family: "Denton";
  font-weight: 300 !important;
  line-height: 90%;
  position: absolute; /* Permite superposición dentro de .grid-item */
  font-size: 4.2em;
  color: rgb(26, 26, 27);
  text-align: center;
  pointer-events: none; /* Impide la interacción del usuario */
  opacity: 0; /* Oculto inicialmente */
  display: flex; /* Centra el contenido dentro del cuadrado */
  justify-content: center;
  align-items: center;
  z-index: 50;
  width: 400px; /* Ancho del cuadrado */
  height: 150px; /* Alto del cuadrado, igual al ancho */
  box-sizing: content-box; /* Asegura que padding y border no afecten el tamaño */
  padding: 60px;
}



/* Breakpoint para pantallas pequeñas */
@media (max-width: 1400px) {
  body {
    flex-direction: column; /* Cambia la dirección a columna */
  }

  .container,
  .container-l,
  .container-l-wide,
  .cortinilla,
  .color-filtro-1 {
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 100vh; /* Ajusta la altura según el contenido */
  }

  .menu {
    width: 100%; /* Ocupa el 100% de la pantalla */
    right: -100%; /* Inicialmente fuera de la pantalla */
    transition: right 0.3s ease;
  }
  .menu.open {
    right: 0; /* Muestra el menú al abrirlo */
  }
  .content {
    flex-direction: column; /* Cambia la dirección a vertical */
    gap: 35px;
  }
  .interactive-div {
    height: 15px;
  }
  .texto-grande-r {
    margin-top: 400px;
    width: 80vw;
  }
}

@media (max-width: 1000px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
  .grid-item {
    width: 85vw;
  }

  .container-l-wide {
    flex-direction: column;
    display: flex;
    height: 100vh;
  }

  .content {
    flex-direction: column; /* Cambia la dirección a vertical */
    margin-top: 160px;
    gap: 52px;
  }

  .descripcion-1 {
    margin-top: 80px;
    width: 320px;
  }
  .interactive-div {
    height: 45px;
  }
  .h1-standard {
    position: absolute;
    display: block;
    text-align: center;
    left: 50vh;
    right: 50vh;
    margin-top: 35px;
  }
  .logo-fondo {
    text-align: center;
    left: 50vh;
    right: 50vh;
  }

}

@media only screen and (orientation: landscape) and (max-width: 1400px) {
  .descripcion-1 {
    margin-top: 135px;
    width: 450px;
  }
  .container-l-wide {
    height: 145vh;
  }
  .content {
    flex-direction: column; /* Cambia la dirección a vertical */
    gap: 85px;
  }
}
