@import url("fonts.css");

body {
  display: flex;
  background-color: #20201d;
  margin: 0;
  padding: 0;
  font-family: "Albert Sans";
  height: 400em; /* Asegura que el body ocupe toda la altura */
  overflow: auto; /* Para evitar desplazamiento innecesario */
  flex-direction: row; /* Alinea los elementos de forma horizontal */
}

/* Caja principal */
.container {
  position: relative;
  top: 0;
  left: 0;
  width: 50vw; /* Ocupa el 50% del ancho de la pantalla */
  height: 50em; /* Permite que la altura del contenedor se ajuste al contenido */
  min-height: 100vh; /* Asegura que siempre ocupe al menos el 100% de la altura */
  background-color: #b2ddee; /* Fondo blanco */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-y: auto; /* Permite hacer scroll solo si el contenido excede la altura */
}

/* Borde cuadrado en el centro */
.border-box {
  width: 80%;
  height: 80%;
  border: 2px solid #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Borde interno */
.border-box::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 16px;
  right: 16px;
  bottom: 16px;
  border: 2px solid #ffffff;
  z-index: 1;
}

/* Estilo del texto dentro del borde */
.content {
  text-align: center;
  color: #333333;
  margin: 4em;
}

.content h1 {
  font-family: "Albert Sans";
  font-weight: 900;
  font-size: clamp(
    2rem,
    1vw + 1rem,
    5em
  ); /* Ajuste de tamaño de fuente adaptable */
  margin-bottom: 10px;
  line-height: 100%;
  color: #062324;
}

.content p {
  font-family: "Albert Sans";
  font-weight: 400;
  font-size: 1.2rem;
  color: #062324;
  line-height: 1.6;
  margin-top: 4em;
  margin-right: 4em;
  margin-left: 4em;
}

/* Estilo del botón de hamburguesa */
.menu-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
}

.menu-icon div {
  width: 30px;
  height: 5px;
  background-color: #fff;
  border-radius: 5px;
}

/* Contenedor del menú */
.menu {
  position: fixed;
  top: 0;
  right: -50%;
  width: 40%;
  height: 100%;
  background-color: rgb(255, 228, 75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: right 0.3s ease;
  box-shadow: -4px 0px 10px rgba(0, 0, 0, 0.2);
}

.menu a {
  font-family: "Albert Sans";
  font-weight: 100 !important;
  text-decoration: none;
  color: black;
  font-size: 2.5em;
  margin: 15px 0;
  margin-top: 50px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: #333;
}

.menu.open {
  right: 0;
}

.cortinilla {
  z-index: -5;
  width: 50%; /* Mitad derecha de la pantalla */
  height: 100vh; /* Toda la altura del viewport */
  overflow: hidden;
  position: relative;
  right: 0;
  top: 0;
  transition: all 0.3s ease; /* Suaviza la transición al cambiar de posición */
}

.imagenes {
  display: flex;
  width: 100%;
  height: 100%;
  transition: transform 1.6s ease-in-out;
}

.imagen {
  flex: 0 0 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagen img {
  height: 100%;
  width: auto;
  object-fit: cover;
}

/* Breakpoint para pantallas pequeñas */
@media (max-width: 768px) {
  body {
    flex-direction: column; /* Cambia la dirección a columna */
  }

  .container,
  .cortinilla {
    width: 100%; /* Ocupa todo el ancho de la pantalla */
    height: 100vh; /* Ajusta la altura según el contenido */
  }

  .menu {
    width: 100%; /* Ocupa el 100% de la pantalla */
    right: -100%; /* Inicialmente fuera de la pantalla */
    transition: right 0.3s ease;
  }

  .menu.open {
    right: 0; /* Muestra el menú al abrirlo */
  }
}
